@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
}
.font-family-caveat {
    font-family: "Caveat", cursive;
}
.font-family-patrick {
    font-family: "Patrick Hand SC", cursive;
}
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
.Rarity-6 {
  background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
}
.Rarity-5 {
    background: #ee9;
}
.cropped {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
    border: 5px solid black;
}

.cropped img {
    margin: -10px 0px 0px -180px;
}
.object-position-none {
    object-position: 0 0;
}
.limited {
    color: #EF382D;
}
.free {
    color: #56BB3B;
}

@media only screen and (max-width: 768px) {
    .Mobile {
        display: none;
    }
}